
<div class="wrapper">
  <!-- Navigation -->
  <nav class="main-nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <!-- Top Container -->
  <section class="top-container">
    <header class="showcase">
      <h1> Quizzicle </h1>
      <p> A place to make and take quizzes! </p>
    </header>
      <div class="top-box top-box-a">
        <i class="fas fa-pencil-alt fa-4x"></i>
        <h3><a href="/login" class="btn">Take a Quiz</a></h3>
      </div>
      <div class="top-box top-box-b">
        <i class="fas fa-book fa-4x"></i>
        <h3><a href="/newQuiz" class="btn"> Make a Quiz </a></h3>
      </div>
  </section>

  <!-- Boxes Section -->
  <section class="boxes">
    <div class="box">
      <i class="fas fa-trophy fa-4x"></i>
      <h3>See quiz scores</h3>
      <p></p>
    </div>
    <div class="box">
      <i class="fas fa-book fa-4x"></i>
      <h3> I dunno </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
    <div class="box">
      <i class="far fa-comment fa-4x"></i>
      <h3> Message Board </h3>
      <p>Discuss quizzes with other students</p>
    </div>
    <div class="box">
      <i class="fas fa-users fa-4x"></i>
      <h3>Support</h3>
      <p>Questions or feedback? We want to hear from you!</p>
    </div>
  </section>

  <!-- Info Section -->
  <section class="info">
    <!-- <img src="C:/Users/Ana Gheorgh/Desktop/quizlet_folder/views/scrabble.jpeg" alt="Scrabble Picture"> -->
    <img src="pictures/scrabble.jpeg" alt="Scrabble Picture">

    <!-- <img src="https://media.istockphoto.com/photos/learning-concepts-within-scrabble-picture-id458537845?k=6&m=458537845&s=612x612&w=0&h=aUt1ewA9y9WBM1NJBks9733aHidR5p-ycXdw1gBHqlU=" alt="Scrabble Picture"> -->
    <div>
      <h2> Your Business on the Web </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="btn"> Learn More </a>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <p> A Gheorghe &copy; 2018 </p>
  </footer>

</div>
<!-- wrapper ends -->
