<h1 id="home-title"> QUIZZES: ALKYNES OF FUN  </h1>

<img id="alkyne" src="http://www.chem.ucla.edu/~harding/IGOC/I/internal_alkyne02.png">

<a href="/login" class="home-page-button"> Take a Quiz </a>
<a href="/newQuiz" class="home-page-button"> Make a Quiz </a>
