
<a href="/register" id="register-button"> Register </a>
<a href="/"> Home </a>
<h1> Login </h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
  <input type="submit" id="login-button" value="Login"> <br>

  {{ error }}
</form>
