<h1> Create a New Quiz </h1>

<form action="/newQuiz" method="post" class="new-quiz-form">
    <input type="text" name="name" id="quiz-name" placeholder="Quiz Name">
    <input type="text" name="subject" id="quiz-subject" placeholder="Subject of Quiz">
  <input type="submit" id="create-quiz-button" value="Create Quiz">
</form>

<h1> Or Click an Incomplete Quiz to Edit It </h1>

<ul>
  {{#each allQuizzes}}
    <div>
      This dot id is {{ this.id }}
       <a href="/editQuiz/{{this.id}}" class="quiz-choice-box"> Quiz Name: {{this.name}}, Status: {{ this.status }} </a>
    </div>
  {{/each}}
</ul>
