<h1> new quiz </h1>

<form class="question-form">
  <div class="half top question-form">
    <textarea name="question" type="text" id="question-textarea" placeholder="Question"></textarea>
  </div>
  <div class="half bottom question-form">
    <input type="text" id="choice-a-text" placeholder="Choice A">
    <input type="text" id="choice-b-text" placeholder="Choice B">
    <input type="text" id="choice-c-text" placeholder="Choice C">
    <input type="text" id="choice-d-text" placeholder="Choice D">
  </form>
  <input type="submit" id="add-question-button">
</form>
